* {
    box-sizing: border-box;
    border-style: none;
    border: 0;
}

body {
    background-color: #FB6B6B;
}

.initial-page{
    margin: 90px auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.initial-page .logo{
    width: 55px;
    height: 65px;
    
    background: url("./.././../assets/img/zaprecall.svg");
    background-size: cover;
    border:none;
}

.initial-page .title{
    width: 152px;
    height: 35px;
    
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.012em;
    
    color: #FFFFFF;   
}

.initial-page .start-button{
    width: 141px;
    height: 31px;
    margin: 73px auto auto;
    
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 31px;
    text-align: center;
    color: #D70900;    
}

.deck-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    z-index: -1;
}

.deck-page header{
    top: 19px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.deck-page header img{
    width: 26px;
    height: 30px;
    background: url("./../assets/img/zaprecall.svg");
    background-position: center;
    background-size: cover;
}

.deck-page header h1{
    width: 101.59px;
    height: 22px;
    
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    
    color: #FFFFFF;
    
    transform: rotate(0.58deg);    
}

.deck{
    top: 85px;
    height: 110vw;
    position: relative;
    overflow: scroll;
}

.deck .flashcard{
    width: 182px;
    height: 40px;
    margin-bottom: 5px;
    padding: 15px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.deck .title{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    
    color: #333333;    
}

.deck .flashcard img{
    width: 13px;
    height: 15px;
    background: url("./../assets/img/play.svg");
}

.deck .forget{
    height: 40px;
    margin-bottom: 5px;
    padding: 15px;
    
    background: #FFFFFF;
    border: 2px solid #FF3030;
    width: 182px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.deck .forget .title{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    border-color: #FF3030;
    text-decoration-line: line-through;
    color: #FF3030;    
}

.deck .forget img{
    width: 17px;
    height: 17px;
    background: url("./../assets/img/forget.svg");
}

.deck .ok{
    height: 40px;
    margin-bottom: 5px;
    padding: 15px;
    
    background: #FFFFFF;
    border: 2px solid #FF922E;
    width: 182px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.deck .ok .title{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    border-color: #FF922E;
    color: #FF922E;
    text-decoration-line: line-through;   
}

.deck .ok img{
    width: 17px;
    height: 17px;
    background: url("./../assets/img/ok.svg");
}

.deck .perfect{
    height: 40px;
    margin-bottom: 5px;
    padding: 15px;
        
    background: #FFFFFF;
    border: 2px solid #2FBE34;
    width: 182px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.deck .perfect .title{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    border-color: #2FBE34;
    text-decoration-line: line-through;
    color: #2FBE34;  
}

.deck .perfect img{
    width: 17px;
    height: 17px;
    background: url("./../assets/img/perfect.svg");
}

.deck-page .deck .flashcard-back, .flashcard-front{
    width: 182px;
    min-height: 90px;
    margin-bottom: 15px;
    position: relative;
    
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;    
}

.deck-page .deck .flashcard-back h2, .flashcard-front h2{
    height: 28px;
    margin-top: 6px;
    padding: 7px;
    position: absolute;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 0.7em;
    line-height: 14px;
    text-align: left;
    
    color: #333333;    
}

.deck-page .deck .flashcard-back img{
    width: 20px;
    height: 13px;
    position: absolute;
    margin-top: 60px;
    margin-left: 155px;

    background: url("./../assets/img/turnaround.svg");
}

.deck-page .deck .flashcard-front .answers{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;  
    margin-top: 47px;
}

.deck-page .deck .flashcard-front .answers button{
    width: 55px;
    height: 24px;
    margin:3px;
    border-radius: 5px;
    border-style: none;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    text-align: center;
    
    color: #FFFFFF;    
}

.deck-page .deck .flashcard-front .answers .forget{
    background: #FF3030;
}

.deck-page .deck .flashcard-front .answers .ok{
    background: #FF922E;
}

.deck-page .deck .flashcard-front .answers .perfect{
    background: #2FBE34;
}

.deck-page footer{
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.deck-page footer p{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    color: #333333;  
    text-align: center;
}

.deck-page .final-title{
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.deck-page .final-title p{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    
    color: #333333;    
}

.congrats{
    width: 18px;
    height: 18px;

    background: url("./../assets/img/party.svg");
}

.maybe-next{
    width: 18px;
    height: 18px;

    background: url("./../assets/img/sad.svg");
}

.deck-page footer span{
    width: 170px;
    height: 28px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #333333;
}

.final-answers{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}

.final-answers .forget{
    margin-left: 3px;
    width: 14px;
    height: 14px;
    background: url("./../assets/img/forget.svg");
}

.final-answers .ok{
    margin-left: 3px;
    width: 14px;
    height: 14px;
    background: url("./../assets/img/ok.svg");
}

.final-answers .perfect{
    margin-left: 3px;
    width: 14px;
    height: 14px;
    background: url("./../assets/img/perfect.svg");
}

.reset-recall{
    width: 125px;
    height: 24px;

    margin-top: 8px;
    
    background: #FB6B6B;
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;    
}